/* menu styles */
#jsddm
{	margin: 0;
	padding: 0}

	#jsddm li
	{	float: left;
		list-style: none;
    width: 33%;
  }

	#jsddm li a
	{	display: block;
		background: #324143;
		padding: 5px 12px;
		text-decoration: none;
    border-left: 1px solid white;
		color: #EAFFED;
		white-space: nowrap;
    font-size: 14px;
  }

	#jsddm li a:hover
	{	background: #24313C}
		
		#jsddm li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-bottom: 1px solid white;
      width: 231px;
    }
		
			#jsddm li ul li
			{	float: none;
				display: inline}
			
			#jsddm li ul li a
			{
        /* width: auto; */
        border-right: 1px solid white;
				background: #99b2b1;
				color: #24313C;
        font-size: 12px;
      }
			
			#jsddm li ul li a:hover
			{	background: #a9c2c1}
