h1 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

h2 {
  font-weight: bold;
  padding-top: 10px;
  text-decoration: underline;
}

p {
  margin-bottom: 5px;
  margin-top   : 5px;
  font-size: 12px;
}

.wrapper {
  width: 850px;
  margin: auto;
  padding: 20px;
}

table.wrapper td {
  border: 1px solid #bbf;
  margin: 5px;
  padding: 5px;
}

table.wrapper tr {
  vertical-align: top;
}

.container {
  margin-left: 160px;
}

div.footer {
  text-align: center;
}

div.content-block {
  margin: 0px;
  min-height: 500px;
}


.title {
  text-align: center;
  margin: 0 10px;
}

.title h1 {
  margin: 0px;
  padding: 0px;
  font-size: 26px;
  font-weight: normal;
}

.title h2 {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-size: 14px;
}

#hr-footer {
  clear: both;
}

.breadcrumbs {
  font-size: 10px;
  font-style: italic;
  color: #888;
  margin-top: 10px;
}

ul.standard-list {
  list-style-position:inside;
  list-style-type:disc;
  margin-left:15px;
  font-size: 12px;
}

.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
